body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
}

h3 {
  color: rgb(25, 28, 63);
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.button-container {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(147, 189, 223);
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.show_joke {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 500;
}